* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f7f5;
  font-family: "TeX Gyre Termes", serif;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7e1702;
  padding: 12px 20px;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.nav-links h2 {
  font-size: clamp(18px, 3vw, 34px);
  color: #e9a24d;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  animation: typing 2.5s steps(14, end) forwards;
  position: relative;
  left: -200px;
}

.nav-items img {
  width: 70px;
}

.nav-items {
  gap: 5px;
  font-size: 14px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}

.yuhum-logo {
  width: 100px;
  max-width: 90%;
  border-radius: 12px;
}

.nav-items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.nav-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(15px, 2vw, 15px);
  letter-spacing: 1px;
}
.nav-items a:hover {
  text-decoration: underline;
}

video {
  display: flex;
  margin: 30px auto;
  margin-top: 150px;
  width: 90%;
  max-width: 900px;
}

.yuhum-photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.yuhum-photos img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 5px solid #e9a24d;
  border-radius: 10px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.yuhum-photos img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
  filter: brightness(0.9);
  transition: 1s;
}

.location-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location-area h4 {
  text-decoration: solid underline;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  color: #545659;
  margin-top: 40px;
}

.location-area img {
  width: 600px;
  max-width: 280px;
  height: auto;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #545659;
  cursor: pointer;
}

.location-area img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  filter: brightness(0.9);
  transition: 1s;
}

.location-wrapper {
  max-width: 450px;
  width: 90%;
  margin: 20px auto;
}

.location-container {
  position: relative;
  width: 100%;
}

.location-container input {
  width: 100%;
  padding: 18px 45px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.location-container input:hover {
  background-color: #e3dadc;
}

.maps-icon,
.input-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0.7;
}

.maps-icon {
  left: 15px;
}

.input-arrow {
  right: 15px;
  transition: transform 0.3s ease;
}

.input-arrow.flip {
  transform: translateY(-50%) rotateX(180deg);
}

.directions-link {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px auto 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  color: #999;
  font-size: 16px;
  text-decoration: underline;
}

.directions-link.show {
  max-height: 40px;
  opacity: 1;
}

.main-footer {
  background-color: #7e1702fb;
  padding: 10px 5px;
  margin-top: 30px;
  text-align: center;
}

.footer-info h3 {
  font-size: 13px;
  color: #e3dadc;
}

.footer-info p {
  font-size: 15px;
  color: #e3dadc;
}

.socialmedia-platforms {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 15px;
}

.socialmedia-platforms img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.socialmedia-platforms img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

/* This is for small screens*/
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 12px;
  }

  .nav-items {
    justify-content: center;
  }

  .location-container input {
    font-size: 14px;
    padding: 16px 40px;
  }
}

/* this is mobile device*/

@media (min-width: 201px) and (max-width: 400px) {
  .yuhum-photos {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-items a {
    font-size: 12px;
  }

  .nav-links {
    justify-content: center;
  }

  .nav-links h2 {
    font-size: 25px;
    text-align: center;
    position: static;
    left: auto;
    transform: none;
    margin: 0;
    width: auto;
  }

  video {
    width: 80%;
    margin-top: 250px;
  }

  .location-area img {
    max-width: 240px;
  }

  .location-container input[type="text"] {
    padding: 20px 15px;
    font-size: 12px;
  }

  .location-container .input-arrow {
    width: 14px;
    height: 14px;
  }

  .main-footer {
    padding: 8px 10px;
    font-size: 16px;
  }
}

/* This is for desktop device*/

@media (min-width: 901px) {
  .nav-links {
    padding: 18px 40px;
  }

  .yuhum-photos {
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    min-width: 90%;
  }

  .location-area img {
    max-width: 500px;
  }
}
