body {
  margin: 0;
  padding: 0;
  background: #f5e4e4;
  font-family: "Poppins", sans-serif;
}

.rates-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 90px 60px;
  background: #f7d5d5;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.logo {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 10px solid white;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  letter-spacing: 1px;
  color: #ba7743;
}

.header h1 span {
  color: orange;
}

.diamonds {
  margin-top: 8px;
  color: #c58b63;
  letter-spacing: 7px;
  font-size: 20px;
}

.package-box {
  background: #ffffff;
  margin: 20px 0;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.rates-picture1,
.rates-picture2 {
  width: 30%;
  height: auto;
  border-radius: 15px;
  margin-left: 30px;
  margin-top: 0;
  border: 20px solid #f5e4e4;
}

.pkg-title {
  margin-top: 10px;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  color: orange;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: underline;
}

.price {
  float: right;
  font-size: 50px;
  color: #ba7743;
  padding-right: 80px;
}

.pkg-list {
  margin-top: 20px;
  right: 20px;
  color: #ba7743;
  font-size: 50px;
  flex: 1;
  margin-top: 15px;
  padding-left: 80px;
}

.pkg-list li {
  margin-bottom: 8px;
  font-size: 25px;
}

.btn-container {
  text-align: center;
  margin-top: 50px;
}

.btn {
  display: inline-block;
  padding: 16px 50px;
  background: #d84e41;
  color: white;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 6px 18px rgba(216, 107, 85, 0.14);
  font-size: 16px;
  transition: background 0.3s ease;
}

.img-btn {
  width: 30px;
  height: auto;
  display: block;
}

.btn:hover {
  background-color: hsl(5, 100%, 81%);
  transition: 0.5s;
}

/* MOBILE RESPONSIVE FIX */
@media (max-width: 480px) {
  .rates-container {
    max-width: 90%;
    padding: 40px 20px;
  }

  .logo {
    width: 150px;
    border-width: 6px;
  }

  .header h1 {
    font-size: 35px;
  }

  .diamonds {
    font-size: 12px;
    letter-spacing: 5px;
  }

  .package-box {
    padding: 20px;
    height: auto;
  }

  .package-box img {
    width: 80%;
    margin: 20px auto 0 auto;
    display: block;
  }

  .pkg-title {
    font-size: 28px;
  }

  .price {
    font-size: 30px;
    padding-right: 20px;
  }

  .pkg-list {
    font-size: 20px;
    padding-left: 18px;
  }

  .pkg-list li {
    font-size: 18px;
  }

  .btn {
    padding: 15px 40px;
  }

  .img-btn {
    width: 30px;
  }
}

/* EXTRA SMALL SCREEN FIX */
@media (max-width: 360px) {
  .header h1 {
    font-size: 26px;
  }

  .pkg-title {
    font-size: 24px;
  }

  .price {
    font-size: 24px;
    padding-right: 10px;
  }

  .package-box {
    padding: 15px;
  }

  .pkg-list {
    font-size: 14px;
  }
}
