body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3eee3;
  box-sizing: border-box;
}

img {
  width: 70px;
  height: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 30px;
  width: 90%;
  max-width: 350px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

h5 {
  font-size: 2.2rem;
  margin: 10px 0;
  color: #000000;
}

.container p {
  font-size: 1rem;
  margin: 10px 0 20px 0;
  color: #000000;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0 0 0;
  transition: background 0.3s ease;
}

button:hover {
  background: #f0692b;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
    width: 95%;
    max-width: 300px;
  }

  h5 {
    font-size: 1.8rem;
  }

  .container p {
    font-size: 0.9rem;
  }

  button {
    width: 80%;
    padding: 12px 0;
    font-size: 0.9rem;
  }
}
